In [33]:
import utils.data_helper as data_helper
import utils.google_helper as google_helper
import pandas as pd

In [34]:
dateTime = data_helper.infoDateTime() 
dateTime.head(5)

   DateTime_ID Transaction_Date Transaction_Time
0         1001       2021-07-15         13:21:06
1         1002       2021-12-06         22:14:47
2         1003       2021-07-27         16:30:08
3         1004       2021-01-22         19:42:05
4         1005       2022-09-26         11:40:36

In [35]:
dateTime.dtypes

DateTime_ID          int64
Transaction_Date    object
Transaction_Time    object
dtype: object

## Data Quality

In [36]:
# dublicates 
dateTime.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17995    False
17996    False
17997    False
17998    False
17999    False
Length: 18000, dtype: bool

In [37]:
dateTime.isna().sum()

DateTime_ID         0
Transaction_Date    0
Transaction_Time    0
dtype: int64

## Load Data to BigQuery

In [38]:
google = google_helper.GoogleHelper()
# google.load_data_from_dataframe(table='dim_DateTime', dataframe=dateTime)

In [39]:
results = google.query("""
    SELECT DateTime_ID, Transaction_Date, Transaction_Time
      FROM {}.{}.{}
    LIMIT 5
""".format(google.get_project_id(), google.get_dataset(), 'dim_DateTime'))

for row in results:
    print(row['DateTime_ID'], row['Transaction_Date'], row['Transaction_Time'])

1329 2021-01-01 16:32:07
2065 2021-01-01 21:18:03
3640 2021-01-01 16:03:24
3823 2021-01-01 20:41:10
4073 2021-01-01 0:24:28

In [40]:
# Return null for incorrect dates 

results = google.query("""
    SELECT DateTime_ID, Transaction_Date
      FROM {}.{}.{}
    WHERE SAFE_CAST(Transaction_Date AS DATE) IS NULL
""".format(google.get_project_id(), google.get_dataset(), 'dim_DateTime'))

for row in results:
    print(row['DateTime_ID'], row['Transaction_Date'])

In [41]:
# Return null for incorrect time 

results = google.query("""
    SELECT DateTime_ID, Transaction_Time
      FROM {}.{}.{}
    WHERE SAFE_CAST(Transaction_Time AS TIME) IS NULL
""".format(google.get_project_id(), google.get_dataset(), 'dim_DateTime'))

for row in results:
    print(row['DateTime_ID'], row['Transaction_Time'])