In [19]:
import utils.data_helper as data_helper
import utils.google_helper as google_helper
import pandas as pd

In [20]:
merchant = data_helper.infoMerchant() 
merchant.head(5)

   Merchant_ID Merchant_Name                    Website
0         9991        Gemini    https://www.gemini.com/
1         9992       Uphold         https://uphold.com/
2         9993      Coinbase  https://www.coinbase.com/
3         9994      Binance    https://www.binance.com/
4         9995        Kraken    https://www.kraken.com/

In [21]:
merchant.dtypes

Merchant_ID       int64
Merchant_Name    object
Website          object
dtype: object

## Data Quality

In [22]:
# dublicates 
merchant.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [23]:
merchant.isna().sum()

Merchant_ID      0
Merchant_Name    0
Website          0
dtype: int64

## Load Data to BigQuery

In [24]:
google = google_helper.GoogleHelper()
# google.load_data_from_dataframe(table='dim_Merchant', dataframe=merchant)

In [25]:
results = google.query("""
    SELECT Merchant_ID, Merchant_Name, Website
      FROM {}.{}.{}
    LIMIT 5
""".format(google.get_project_id(), google.get_dataset(), 'dim_Merchant'))

for row in results:
    print(row['Merchant_ID'], row['Merchant_Name'], row['Website'])

9991 Gemini https://www.gemini.com/
9992 Uphold  https://uphold.com/
9993 Coinbase https://www.coinbase.com/
9994 Binance  https://www.binance.com/
9995 Kraken https://www.kraken.com/