In [49]:
import utils.data_helper as data_helper
import utils.google_helper as google_helper
import pandas as pd

In [50]:
users = data_helper.infoUsers() 
users.head(5)

,User_ID,Username,Email,Age,Gender,Address,Country,City
0,1,cbelward0,jcassel0@yandex.ru,58,M,1920 Granby Alley,France,Cluses
1,2,eclitsome1,bdepero1@nyu.edu,41,F,27467 2nd Parkway,France,Agen
2,3,ckoubek2,cpollicott2@cocolog-nifty.com,69,F,32 Havey Lane,Switzerland,Luzern
3,4,bmacphee3,hlithcow3@hud.gov,44,M,5 Forest Court,France,Rambouillet
4,5,kceyssen4,rjakovijevic4@hubpages.com,65,M,60 Arrowood Alley,Italy,Milano

In [51]:
users.dtypes

User_ID      int64
Username    object
Email       object
Age          int64
Gender      object
Address     object
Country     object
City        object
dtype: object

## Data Quality

In [52]:
# dublicates 
users.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
494    False
495    False
496    False
497    False
498    False
Length: 499, dtype: bool

In [53]:
users.isna().sum()

User_ID     0
Username    0
Email       0
Age         0
Gender      0
Address     0
Country     0
City        0
dtype: int64

## Load Data to BigQuery

In [54]:
google = google_helper.GoogleHelper()
# google.load_data_from_dataframe(table='dim_Users', dataframe=users)

In [55]:
results = google.query("""
    SELECT User_ID, Username, Email, Age, Gender
      FROM {}.{}.{}
    LIMIT 5
""".format(google.get_project_id(), google.get_dataset(), 'dim_Users'))

for row in results:
    print(row['User_ID'], row['Username'], row['Email'], row['Age'], row['Gender'])

542 csalvatoref1 ghaynesf1@bandcamp.com 20 M
330 cchasle95 mroseby95@mashable.com 21 M
121 gklaff3c ghubbard3c@phpbb.com 23 F
534 aiwanowiczet tcliftonet@ebay.com 28 F
312 dneath8n cducarme8n@t-online.de 34 F

In [56]:
# Check for users to have more than 18 years old

results = google.query("""
    SELECT User_ID, Age
      FROM {}.{}.{}
    WHERE Age < 18 
""".format(google.get_project_id(), google.get_dataset(), 'dim_Users'))

for row in results:
    print(row['User_ID'], row['Age'])

In [57]:
results = google.query("""
    SELECT User_ID, Email
      FROM {}.{}.{}
    WHERE Email NOT LIKE '%_@__%.__%' 
""".format(google.get_project_id(), google.get_dataset(), 'dim_Users'))

for row in results:
    print(row['User_ID'], row['Email'])