In [18]:
import utils.data_helper as data_helper
import utils.google_helper as google_helper
import pandas as pd

In [19]:
wallet = data_helper.infoWallet() 
wallet.head(5)

    Wallet_ID  User_ID  Amount
0  6143198675        1    8745
1  3126414494        2    8607
2  1197926461        3    9187
3  5509104228        4    7757
4  1377330478        5    6570

In [20]:
wallet.dtypes

Wallet_ID    int64
User_ID      int64
Amount       int64
dtype: object

## Data Quality

In [23]:
# dublicates 
wallet.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
494    False
495    False
496    False
497    False
498    False
Length: 499, dtype: bool

In [24]:
wallet.isna().sum()

Wallet_ID    0
User_ID      0
Amount       0
dtype: int64

## Load Data to BigQuery

In [25]:
google = google_helper.GoogleHelper()
# google.load_data_from_dataframe(table='dim_Wallet', dataframe=wallet)

In [26]:
results = google.query("""
    SELECT Wallet_ID, User_ID, Amount
      FROM {}.{}.{}
    LIMIT 5
""".format(google.get_project_id(), google.get_dataset(), 'dim_Wallet'))

for el in results:
    print(el['Wallet_ID'], el['User_ID'], el['Amount'])

4235922645 546 5376
1275337473 162 7170
4425270622 23 8963
7907503477 260 5893
7075553852 234 9221

In [27]:
# Check for users to have capital in their wallets otherwise they can't trade

results = google.query("""
    SELECT Wallet_ID, User_ID, Amount
      FROM {}.{}.{}
    WHERE Amount <= 0
""".format(google.get_project_id(), google.get_dataset(), 'dim_Wallet'))

for el in results:
    print(el['Wallet_ID'], el['User_ID'], el['Amount'])