In [17]:
import utils.data_helper as data_helper
import utils.google_helper as google_helper
import pandas as pd

In [18]:
transactions = data_helper.infoTransactions()
transactions.head(5)

,Transaction_ID,Crypto_ID,Merchant_ID,Wallet_ID,Date_Time_ID,Traded_Amount,Fees
0,1,97,10003,6143198675,1001,160,0.48
1,2,70,9997,3126414494,1002,52,1.73
2,3,20,10003,1197926461,1003,215,0.54
3,4,73,10002,5509104228,1004,216,0.30
4,5,80,9992,1377330478,1005,56,1.32

In [19]:
transactions.dtypes

Transaction_ID      int64
Crypto_ID           int64
Merchant_ID         int64
Wallet_ID           int64
Date_Time_ID        int64
Traded_Amount       int64
Fees              float64
dtype: object

## Data Quality

In [20]:
# dublicates 
transactions.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17995    False
17996    False
17997    False
17998    False
17999    False
Length: 18000, dtype: bool

In [21]:
transactions.isna().sum()

Transaction_ID    0
Crypto_ID         0
Merchant_ID       0
Wallet_ID         0
Date_Time_ID      0
Traded_Amount     0
Fees              0
dtype: int64

## Load Data to BigQuery

In [22]:
google = google_helper.GoogleHelper()
# google.load_data_from_dataframe(table='fact_Transactions', dataframe=transactions)

In [23]:
results = google.query("""
    SELECT Transaction_ID, Traded_Amount, Fees
      FROM {}.{}.{}
    LIMIT 5
""".format(google.get_project_id(), google.get_dataset(), 'fact_Transactions'))

for el in results:
    print(el['Transaction_ID'], el['Traded_Amount'], el['Fees'])

2686 204 0.25
3748 5 0.25
4505 228 0.25
5922 188 0.25
5953 65 0.25

In [24]:
# Traded_Amount and Fees should not be less or equal to 0

results = google.query("""
    SELECT Transaction_ID, Traded_Amount, Fees
      FROM {}.{}.{}
    WHERE Traded_Amount <= 0 AND Fees <= 0
""".format(google.get_project_id(), google.get_dataset(), 'fact_Transactions'))

for el in results:
    print(el['Transaction_ID'], el['Traded_Amount'], el['Fees'])